@model IEnumerable<GCTLTestExam.Models.CustomerInfo>

@{
    ViewData["Title"] = "GetCustomerInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>GetCustomerInfo</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Business_StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Business_Product_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_CustomerType_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_District_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Thana_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Image_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Business_StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Business_Product_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_CustomerType_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_District_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Thana_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Image_Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
